﻿@model Argosy.Web.FrontEnd.Models.ForgotPasswordViewModel
<script>
    $(function () {
        $('#btnContinue').click(function (e) {
            block(null, "~{MsgSendingRequest}~");
            e.preventDefault();
            var form = $('form[action="/Security/ForgotPassword"]');
         
            if(form.validate()) {
                form.submit();
            }
        });
    });
    function sendPasswordResetSuccess(data) {
        unblock();
        if (data) {
            $("#Username").val("");
            $('#forgotPasswordMessage').html(data);
            $.fancybox({
                href: '#forgotPasswordMessage'
            });
        }
    }
</script>
<div id="forgotPassword" style="display: none;">
    <div class="clearfix" id="fogotPasswordConatiner">
        <div class="nobottommargin">
            @using (Ajax.BeginForm("ForgotPassword", "Security", new { area = "" }, new AjaxOptions() { AllowCache = false, InsertionMode = InsertionMode.Replace, OnSuccess = "sendPasswordResetSuccess(data)" }))
            {
                @Html.AntiForgeryToken()
                <div class="col_full">
                    <h2>Forgot Your Password?</h2>
                    <p>No problem. Simply enter your username or email, and then click <b>Continue</b>.<br />We'll send you a link to a page where you can easily create a new password.</p>
                    <div class="padt10">
                        <div class="form-group">
                            <div class="col-sm-3 control-label pull-left">
                                @Html.LabelFor(m => m.UsernameOrEmail, new { @class = "control-label", @style = "padding-top:7px;" })
                            </div>
                            <div class="col-sm-9">
                                <div>@Html.ValidationMessageFor(m => m.UsernameOrEmail, "", new { @class = "text-danger" })</div>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.UsernameOrEmail, new { @class = "form-control", @style = "margin-left:11px;width:250px" })
                                    @Html.HiddenFor(m => m.CompanyId)
                                    @Html.HiddenFor(m => m.SiteId)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="center">
                        <input type="button" id="btnContinue" class="btn btn-default" value="Continue" />
                    </div>
                </div>
            }
        </div>
    </div> 
    <div class="clearfix" id="forgotPasswordMessage">
    </div> 
</div>
